.App {
    background-color: bisque;
    min-height: 100vh;
  }
  
  .stackedContent {
    display: flex;
    flex-direction: column;
  }
    
    
  .container {
    display: flex;
    flex-direction: row;
  }
    
  .leftColumn{
    min-height: 100vh;
    flex: 1;
  }
    
  .rightColumn{
    min-height: 100vh;
    flex: 3;
  }
  
  .content{
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .imageContainer {
    flex: 2;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
  }
  
  .contentTitle {
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 25px;
  }
  
  .contentText {
    padding-left: 20px;
    padding-right: 35px;
  }
  
  .image {
    padding-top: 40px;
    align-self: flex-start
    
  }
  
  .withBottomPadding {
    margin-bottom: 300px;
  }

  .verticalLine {
    border-left: 1px solid black; /* Adjust the thickness and color as needed */
    height: 8vh; /* Adjust the height as needed */
    margin: 0 auto; /* Center the line */
  }